.card-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    padding: 15px;
    background-color: white;
    flex: 0 0 30%;
}


.title, .author, .desc {
    margin: 0.5rem 0rem;
}

.desc {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.image {
    display:flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.image img {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    justify-self: center;
    object-fit: cover;
}

.post {
    margin-top: auto;
    padding-top: 8px;
}

.post button {
    font-family: inherit;
    border: initial;
    background: initial;
    background-color: #86B6F6;
    color: #333;
    border-radius: 500px;
    width: 100px;
    height: 25px;
}