.art-post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.post-container {
    max-width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    flex-grow: 1;
}

.post-left {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.post-left img {
    max-height: 80vh;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.post-right {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

@media(max-width: 992px) {
    .post-container {
        flex-direction: column;
    }

    .post-left img {
        margin-bottom: 20px;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: initial;
}

.buttons button {
    margin: 10px;
    padding-top: 3px;
    border: none;
    font-size: 16px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.edit-button {
    background: #10ac84;
}

.delete-button {
    background: #ee5253;
}

.text h2, h4, p{
    margin: 5px 0px 5px;
}