.navBar {
  max-width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  z-index: 1;
}
  
.navLinks a {
  text-decoration: none;
  color: #333;
  position: relative;
}

.navLinks a:hover {
  color:#a437db;
}

.navLinks a::after {
  position:absolute;
  content: '';
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #a437db;
  border-radius: 40px;
  transform-origin: right;
  transform: scale(0);
  transition: transform .5s;
}

.navLinks a:hover::after {
  transform-origin: left;
  transform: scale(1);
}

.navCenter {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLeft, .navRight {
  flex: 3;
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 2rem;
}

.navLinks li {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.navLogo {
  width: 180px;
  padding-left: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}

.navToggle {
  font-size: 25px;
  padding-right: 1.5rem;
  object-fit: cover;
  cursor: pointer;
  color: #333;
  display: none;
}

.navUser {
  font-size: 25px;
  padding-right: 1.5rem;
  object-fit: cover;
  cursor: pointer;
  color: #333;
  transition: scale 0.2 ease;
}

.navUser:hover {
  scale: 1.05;
}

.navUser:active {
  scale: 0.95;
}

.navRight {
  display: flex;
  justify-content: flex-end;
}

.navDropdown {
  display: none;
  position: absolute;
  height: 0px;
  right: 1rem;
  top: 60px;
  width: 250px;
  background: rgb(235, 235, 235, 0.85);
  backdrop-filter: blur(5px);
  border: 2px;
  border-color:#333;
  border-radius: 10px;
  overflow: hidden;
  transition: height, .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navDropdown.open {
  height:auto;
}

.navDropdown li {
  text-transform: capitalize;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navDropdown a {
  text-decoration: none;
  color: #a437db;
  font-weight: 600;
}

@media(max-width: 992px) {
  .navBar .navLinks, .navRight .navUser {
    display: none;
  }

  .navRight .navToggle {
    display: block;
  }

  .navDropdown {
    display: block;
  }
}

@media(max-width: 576px) {
  .navDropdown {
    left: 1rem;
    width: unset;
  }
}