.hero-container {
    margin: 1rem;
}

.hero-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
}

.hero-slider {
    display: flex;
    justify-content: center;
}

.hero-slider img {
    flex: 1 0 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    max-width: 100%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.hero-nav-arrows {
    font-size: 30px;
    color: #fff;
    opacity: .95;
    z-index: 1;
    cursor: pointer;
    transition: .5s;
}

.hero-nav-arrows:hover {
    color: #a437db;
    opacity: 1;
}

.hero-nav-arrows .left {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(0, -50%);
}

.hero-nav-arrows .right {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
}

.hero-nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    font-size: .8rem;
}

.hero-nav-dot {
    cursor: pointer;
    color: #666;
    opacity: .8;
    transition: .5s;
}

.hero-nav-dot:hover {
    color: #a437db;
    opacity: 1;
}